@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

header {
    font-family: 'Merriweather', serif;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("../imgs/background.jpg") center center;
    background-size: cover;
}

header h1 {
    font-size: 6rem;
}

header p {
    font-size: 1.5rem;
}
