@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: auto;
    font-size: 16px;
}


img {
    width: 65%;
    border-radius: 6px;
}

table tr td:first-child {
    width: 15%;
}

table tr td:last-child,
table tr th:last-child {
    text-align: right;
}
